@layer base, components, utilities;

@layer base {
    *,
    *::before,
    *::after {
        font-family: inherit;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        height: 100%;
    }

    html,
    body {
        min-height: 100%;
    }

    img {
        display: block;
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: 300;
        margin: 0;
        color: #222;
    }

    a {
        color: royalblue;
        text-decoration: underline dotted;

        &:hover {
            text-decoration: underline;
        }
    }

    textarea {
        resize: vertical;

        font-family: 'JetBrains Mono', monospace;
        font-weight: 400;
        color: #333;
    }

    p {
        line-height: 1.75;
    }

    pre,
    code {
        font-family: 'JetBrains Mono', monospace;
        font-weight: 400;
        color: #333;
    }

    strong {
        font-weight: 700;
        color: #444;
    }
}

@layer components {
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.75;

        color: #333;

        padding: 6rem 1rem;

        > * {
            display: block;
            max-width: 900px;
            margin: 0.5rem auto;
        }
    }

    canvas {
        display: block;
        width: 100%;

        aspect-ratio: 1 / 1;

        border: 1px solid #ddd;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

        border-radius: 1rem;
    }

    .steps {
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
        grid-template-columns: 1fr 1fr;

        border: 1px solid #ddd;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

        border-radius: 1rem;

        padding: 2rem;
        max-width: fit-content;

        > .step {
            grid-column: span 2;

            display: grid;
            grid-template-columns: subgrid;

            justify-items: center;
            /* align-items: center; */
            gap: 0;

            @media (width < 768px) {
                grid-template-columns: 1fr;
            }

            > .algebraic-step {
                justify-self: stretch;

                /* border: 1px solid #ddd; */
                /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); */

                border-radius: 1rem;
                padding: 0 1rem;

                > * + * {
                    margin-top: 0.5rem;
                }
            }

            > .geometric-step {
                /* padding: 1rem; */
                min-width: 30rem;
            }

            padding: 2rem 0;

            &:not(:first-child) {
                border-top: 1px solid #ddd;
            }
        }
    }
}

@layer utilities {
    .v-stack {
        display: grid;
        gap: 0.5rem;
        align-content: start;
        justify-items: start;
    }

    .h-stack {
        display: grid;
        gap: 0.5rem;
        grid-auto-flow: column;
        align-items: center;
    }
}
